# Access database from Pandas using mysql-connector and SQLalchemy

* (if you haven't donce so: ) install jupyter and learn how to use jupyter
* install mysql learn how to user mysql
    * install mysql
    * start mysql server
    * create root account (and other account if necessary)
    * create a database
    * create tables inside database
* install python SQL access modules
    * to access mysql: pip install mysql-connector
    * other module: pip install sqlalchemy
    * other module: pip install pyodbc
    * there are many other such modules
    
## Read database tables directly into Pandas dataFrame

### Using mysql-connector

In [1]:
# connect to mySQL and use a specific database directly
# Read the data directly into a pandas dataFrame
import pandas as pd
import mysql.connector

# get a db connection first
mydb = mysql.connector.connect(host="localhost", user="root", passwd="1234", database="test" )

#mycursor = mydb.cursor()
#df = psql.read_sql("select * from student", con=mydb)
df = pd.read_sql_query("select * from student", con=mydb)

# Then you can consume your data in a for loop
print(df)

   SID  Fname  Lname       Dept Division  Year
0    1   john  smith    physics        u     2
1    3  peter   chen  chemistry        p     4
2    4   mary    lin         ee        e     3
3    5   jack  huang         ee        e     3

### Using SQLalchemy

In [4]:
# Work with to mySQL DB using sqlalchemy and pandas
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://seasa:seasa@localhost/data_science")
df2 = pd.read_sql_query("select * from student", sql_engine)
print(df2)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'data_science.student' doesn't exist
[SQL: select * from student]
(Background on this error at: http://sqlalche.me/e/f405)

In [5]:
# Creating a DataFrame
import numpy as np

# first create an pandas index
dates = pd.date_range('20130101', periods=6)
print(dates)

# create a data frame by supplying:
# 1. the data 
# 2. an index 
# 3. a list of column labels
df3 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df3)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  1.126228  0.503576  0.640136  0.299898
2013-01-02  0.623388 -0.982364 -0.849476  0.097522
2013-01-03 -0.886964 -0.717533 -1.194278  1.382995
2013-01-04 -0.522755  0.111254 -0.044712  0.033640
2013-01-05 -1.583526  0.852154  0.741218 -1.413970
2013-01-06 -0.772147  1.604056  0.407199  0.247214

In [6]:
df3.to_sql('newdata', sql_engine)

In [7]:
df2 = pd.read_sql_query("select * from newdata", sql_engine)
print(df2)

       index         A         B         C         D
0 2013-01-01  1.126228  0.503576  0.640136  0.299898
1 2013-01-02  0.623388 -0.982364 -0.849476  0.097522
2 2013-01-03 -0.886964 -0.717533 -1.194278  1.382995
3 2013-01-04 -0.522755  0.111254 -0.044712  0.033640
4 2013-01-05 -1.583526  0.852154  0.741218 -1.413970
5 2013-01-06 -0.772147  1.604056  0.407199  0.247214