In [1]:
import requests
import pandas as pd
from io import StringIO
import mysql.connector

## Problem 1: (Extract data and handling of CSV files and RDB) 20%

Download data from 2019.06.01 to 20190.10.09 for stock number 2330 from Taiwan Stock Exchange website, into CSV file(s).

In [123]:
max_data = [31,28,31,30,31,30,31,31,30,31,30,31]
data = {'日期':[],'成交股數':[],'成交金額':[],'開盤價':[],'最高價':[],'最低價':[],'收盤價':[],'漲跌價差':[],'成交筆數':[]}
for i in range(6,11):
    print(i)
    datestr='2019{0:02}01'.format(i)
    r = requests.post('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date='+datestr+'&stockNo=2330')
    raw_csv = r.text.split('\r\n')
    if(len(raw_csv)<3):
        break
    # process data
    parse_csv = StringIO('\r\n'.join(raw_csv[1:-6]))
    df = pd.read_csv(parse_csv, sep=",")
    now = 1
    for l in range(df.shape[0]):
        
        data['日期'].append(df.iloc[l]['日期'])
        if(isinstance(df.iloc[l]['漲跌價差'], str)):
            data['漲跌價差'].append(float(df.iloc[l]['漲跌價差'][1:]))
            if(df.iloc[l]['漲跌價差'][0]=='-'):
                data['漲跌價差'][-1] = -data['漲跌價差'][-1]
        else:
            data['漲跌價差'].append(df.iloc[l]['漲跌價差'])

        for key in ['成交股數','成交金額','成交筆數']:
            data[key].append(int(''.join(df.iloc[l][key].split(','))))

        for key in ['開盤價','最高價','最低價','收盤價']:
            data[key].append(df.iloc[l][key])

    """
        while(now<date and len(data['日期'])>0):
            for key in ['成交股數','成交金額','開盤價','最高價','最低價','收盤價','漲跌價差','成交筆數']:
                data[key].append(data[key][-1])
            data['日期'].append('108/{0:02}/{1:02}'.format(i, now))
            now += 1
        else:
            now = date+1        
    
    
        
    
    while(now<=max_data[i-1]):
        for key in ['成交股數','成交金額','開盤價','最高價','最低價','收盤價','漲跌價差','成交筆數']:
            data[key].append(data[key][-1])
        data['日期'].append('108/{0:02}/{1:02}'.format(i, now))
        now += 1
    """
for key in data:
    data[key] = data[key][:-4]
data_df = pd.DataFrame(data)
data_df.reindex()
data_df.to_csv('stock_data.csv', index=False)

6
7
8
9
10

In [124]:
len(data['日期'])

89

Read data from CSV into Pandas Data Frame.

In [125]:
data_df = pd.read_csv('stock_data.csv')

Print out the basic statistics of the dataset using dataFrame's describe() functin.

In [126]:
data_df.shape

(89, 9)

In [127]:
data_df.describe()

,成交筆數,成交股數,成交金額,收盤價,最低價,最高價,漲跌價差,開盤價
count,89.000000,8.900000e+01,8.900000e+01,89.000000,89.000000,89.000000,89.000000,89.00000
mean,12252.561798,3.269030e+07,8.304750e+09,254.247191,252.269663,255.735955,0.629213,254.08427
std,4615.404752,1.220675e+07,3.161662e+09,12.229604,12.399151,12.116642,3.496368,12.32289
min,5647.000000,1.422021e+07,3.748071e+09,232.000000,229.500000,232.000000,-6.500000,231.50000
25%,8987.000000,2.451104e+07,6.242936e+09,246.000000,242.500000,247.000000,-1.500000,244.50000
50%,11372.000000,3.010753e+07,7.734089e+09,254.000000,251.000000,254.500000,0.500000,253.00000
75%,13780.000000,3.633670e+07,9.697727e+09,263.500000,261.500000,264.500000,2.500000,263.50000
max,29551.000000,7.524889e+07,2.088684e+10,286.500000,282.500000,286.500000,9.500000,283.50000

Store your dataset into MySQL database.<br>
        Note: you can create your database beforehand.

In [128]:
# Work with to mySQL DB using sqlalchemy and pandas
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://seasa:seasa@localhost/data_science")
try:
    sql_engine.execute('DROP TABLE record;')
except:
    pass

In [129]:
data_df.to_sql('record', sql_engine, index=False)

In [132]:
df2 = pd.read_sql_query("select sum(成交金額), avg(成交金額) from record", sql_engine)
print(df2)
df2 = pd.read_sql_query("select sum(成交股數),avg(成交股數) from record", sql_engine)
print(df2)

      sum(成交金額)     avg(成交金額)
0  7.391228e+11  8.304750e+09
      sum(成交股數)     avg(成交股數)
0  2.909436e+09  3.269030e+07

In [120]:
df2 = pd.read_sql_query("select sum(qq.成交股數),avg(qq.成交股數) from (SELECT REPLACE(成交股數, ',', '') as 成交股數 FROM record) as qq", sql_engine)
print(df2)

   sum(qq.成交股數)  avg(qq.成交股數)
0  2.909436e+09  3.269030e+07

In [136]:
MovingAverage = data_df.rolling(window=5,center=False).mean()
MovingAverage

,成交筆數,成交股數,成交金額,收盤價,日期,最低價,最高價,漲跌價差,開盤價
0,NaN,NaN,NaN,NaN,108/06/03,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,108/06/04,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,108/06/05,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,108/06/06,NaN,NaN,NaN,NaN
4,12602.2,33441144.6,7.862024e+09,235.6,108/06/10,232.6,237.3,0.9,236.0
5,13462.2,33042060.2,7.821508e+09,236.9,108/06/11,234.0,238.8,1.3,236.9
6,13397.8,34235285.8,8.166459e+09,239.5,108/06/12,236.0,240.7,2.6,238.3
7,13695.4,33801313.8,8.101301e+09,240.5,108/06/13,237.2,241.9,1.0,239.2
8,13733.0,33951678.8,8.178911e+09,241.3,108/06/14,238.5,243.4,0.8,240.6
9,14804.0,37185703.6,8.898988e+09,239.9,108/06/17,237.7,242.4,-1.4,239.4
10,14108.8,36006987.0,8.560917e+09,238.1,108/06/18,236.5,240.3,-1.8,238.2
11,15923.0,39971950.2,9.503352e+09,237.7,108/06/19,236.0,239.6,-0.4,237.8
12,15988.4,41169063.6,9.815670e+09,238.7,108/06/20,236.2,239.9,1.0,237.7
13,16816.0,46515613.2,1.121593e+10,241.2,108/06/21,238.2,241.7,2.5,239.6
14,16183.4,44869312.2,1.090265e+10,242.8,108/06/24,240.1,243.1,3.1,241.5
15,16473.2,45056751.4,1.097456e+10,243.4,108/06/25,240.9,244.3,2.1,242.9
16,15074.6,40763885.2,9.889759e+09,241.5,108/06/26,239.6,242.8,-0.4,241.4
17,15295.4,41221993.8,9.962881e+09,240.6,108/06/27,238.6,242.0,0.6,240.2
18,13283.0,34411775.4,8.226350e+09,238.7,108/06/28,237.0,240.6,-0.4,238.9
19,15637.2,38993849.0,9.420008e+09,240.2,108/07/01,238.0,242.2,1.5,239.8
20,15917.4,38413232.8,9.330797e+09,242.3,108/07/02,240.1,243.9,2.1,241.5
21,16417.0,38569179.4,9.417354e+09,243.9,108/07/03,241.7,245.6,1.6,243.3
22,15133.4,33905860.6,8.316999e+09,244.6,108/07/04,243.0,246.3,0.7,245.0
23,15138.6,33752233.0,8.298778e+09,245.4,108/07/05,243.7,247.0,0.8,245.6
24,11338.8,26316239.8,6.421225e+09,244.2,108/07/08,242.7,245.9,-1.2,244.5
25,10129.8,24257596.8,5.886454e+09,242.8,108/07/09,241.3,244.5,-1.4,242.9
26,9396.4,23110068.2,5.616237e+09,243.7,108/07/10,241.5,244.9,0.9,242.7
27,10555.4,25631078.0,6.265798e+09,244.9,108/07/11,242.5,245.9,1.2,243.8
28,10425.4,24941349.6,6.137859e+09,246.4,108/07/12,244.1,247.3,1.5,245.3
29,10749.8,25956027.8,6.458993e+09,248.8,108/07/15,246.0,249.3,2.4,247.5
...,...,...,...,...,...,...,...,...,...
59,8833.4,28516916.8,7.176274e+09,252.2,108/08/27,251.4,253.7,-0.9,252.9
60,8722.6,27519234.0,6.916184e+09,251.7,108/08/28,250.9,253.3,-0.5,252.1
61,8283.0,27109019.4,6.800065e+09,251.7,108/08/29,250.3,252.6,0.0,251.3
62,9891.0,31214284.2,7.868948e+09,252.7,108/08/30,250.9,253.5,1.0,251.9
63,8735.0,27821531.0,7.046864e+09,254.5,108/09/02,252.4,255.0,1.8,253.7
64,9189.2,22305839.8,5.693321e+09,255.3,108/09/03,253.3,256.4,0.8,254.9
65,9681.6,23989210.0,6.139193e+09,256.4,108/09/04,254.0,257.4,1.1,255.6
66,12921.6,29780402.2,7.697385e+09,258.2,108/09/05,255.9,259.2,1.8,257.6
67,12572.4,28042465.0,7.282262e+09,259.1,108/09/06,257.3,260.4,0.9,259.3
68,12803.2,28550660.8,7.439281e+09,260.6,108/09/09,258.8,262.0,1.5,260.8
69,12927.4,29337335.0,7.683167e+09,262.1,108/09/10,260.3,263.2,1.5,262.2
70,13480.8,31850991.4,8.368652e+09,263.2,108/09/11,261.6,264.5,1.1,264.2
71,10578.0,29801104.4,7.834416e+09,263.1,108/09/12,261.8,264.9,-0.1,264.6
72,10410.6,32261994.6,8.482690e+09,263.5,108/09/16,261.5,265.0,0.4,264.0
73,10502.6,34812396.8,9.161388e+09,263.5,108/09/17,261.7,265.1,0.0,264.2
74,11735.0,39080575.4,1.033980e+10,264.6,108/09/18,262.9,266.2,1.1,264.9
75,11362.2,37260485.8,9.881310e+09,265.0,108/09/19,263.6,266.9,0.8,265.7
76,11527.6,38413200.2,1.019880e+10,265.3,108/09/20,264.1,267.2,0.7,265.9
77,10433.0,33474448.6,8.896979e+09,265.0,108/09/23,264.4,266.9,0.1,266.3
78,10424.6,32321468.4,8.585057e+09,265.0,108/09/24,263.9,266.7,0.4,265.7
79,8255.0,26698149.2,7.062997e+09,264.8,108/09/25,263.0,266.0,0.2,264.8
80,8588.4,28090656.4,7.447550e+09,265.4,108/09/26,263.5,266.3,0.6,265.0
81,10091.8,28028046.8,7.494691e+09,267.0,108/09/27,264.9,267.5,1.6,266.1
82,14292.0,40233783.2,1.092223e+10,270.2,108/10/01,266.9,270.8,3.2,267.9
83,14914.8,41487385.2,1.134900e+10,273.1,108/10/02,270.3,273.9,2.9,271.2
84,16056.4,44013525.4,1.209852e+10,275.2,108/10/03,272.7,276.2,2.1,273.5
85,16440.2,44350827.4,1.225565e+10,276.9,108/10/04,274.4,278.3,1.7,275.6
86,14666.4,39052310.0,1.084020e+10,278.1,108/10/07,275.7,279.7,1.2,277.1
87,12681.0,31976242.2,8.931138e+09,279.4,108/10/08,277.6,280.9,1.3,279.2
88,13135.6,32840742.8,9.198530e+09,279.9,108/10/09,278.2,281.9,0.5,279.9

In [158]:
def find_diff_max(data_df, key):
    index, data_max = data_df[key].diff().abs().idxmax(), data_df[key].diff().abs().max()
    print(data_df.iloc[index], data_max)
    print()
        
find_diff_max(data_df, '最高價')
find_diff_max(data_df, '成交股數')

成交筆數          20528
成交股數       50234372
成交金額    12181979568
收盤價             244
日期        108/06/19
最低價           240.5
最高價             244
漲跌價差            8.5
開盤價           242.5
Name: 11, dtype: object 8.5

成交筆數         12294
成交股數      30572953
成交金額    8553297334
收盤價          279.5
日期       108/10/02
最低價            279
最高價            281
漲跌價差          -0.5
開盤價            280
Name: 83, dtype: object 44675937.0

In [159]:
def find_pert_max(data_df, key):
    index, data_max = data_df[key].pct_change().abs().idxmax(), data_df[key].pct_change().abs().max()
    print(data_df.iloc[index], data_max)
    print()
    
find_pert_max(data_df, '最高價')
find_pert_max(data_df, '成交股數')

成交筆數          20528
成交股數       50234372
成交金額    12181979568
收盤價             244
日期        108/06/19
最低價           240.5
最高價             244
漲跌價差            8.5
開盤價           242.5
Name: 11, dtype: object 0.03609341825902335

成交筆數          21827
成交股數       59879798
成交金額    15573278932
收盤價             259
日期        108/07/19
最低價             259
最高價             261
漲跌價差              5
開盤價           259.5
Name: 33, dtype: object 1.8638870893879664

In [164]:
new_data = pd.concat([data_df['成交金額'],data_df['收盤價']-data_df['開盤價'],data_df['最高價']-data_df['最低價']], axis=1)
new_data = new_data / new_data.mean()

In [176]:
data = pd.

   1  2
0  1  2
1  2  1