In [1]:
import requests
import pandas as pd
from io import StringIO
import mysql.connector

## Problem 1: (Extract data and handling of CSV files and RDB) 20%

Download data from 2019.06.01 to 20190.10.09 for stock number 2330 from Taiwan Stock Exchange website, into CSV file(s).

In [123]:
max_data = [31,28,31,30,31,30,31,31,30,31,30,31]
data = {'日期':[],'成交股數':[],'成交金額':[],'開盤價':[],'最高價':[],'最低價':[],'收盤價':[],'漲跌價差':[],'成交筆數':[]}
for i in range(6,11):
    print(i)
    datestr='2019{0:02}01'.format(i)
    r = requests.post('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date='+datestr+'&stockNo=2330')
    raw_csv = r.text.split('\r\n')
    if(len(raw_csv)<3):
        break
    # process data
    parse_csv = StringIO('\r\n'.join(raw_csv[1:-6]))
    df = pd.read_csv(parse_csv, sep=",")
    now = 1
    for l in range(df.shape[0]):
        
        data['日期'].append(df.iloc[l]['日期'])
        if(isinstance(df.iloc[l]['漲跌價差'], str)):
            data['漲跌價差'].append(float(df.iloc[l]['漲跌價差'][1:]))
            if(df.iloc[l]['漲跌價差'][0]=='-'):
                data['漲跌價差'][-1] = -data['漲跌價差'][-1]
        else:
            data['漲跌價差'].append(df.iloc[l]['漲跌價差'])

        for key in ['成交股數','成交金額','成交筆數']:
            data[key].append(int(''.join(df.iloc[l][key].split(','))))

        for key in ['開盤價','最高價','最低價','收盤價']:
            data[key].append(df.iloc[l][key])

    """
        while(now<date and len(data['日期'])>0):
            for key in ['成交股數','成交金額','開盤價','最高價','最低價','收盤價','漲跌價差','成交筆數']:
                data[key].append(data[key][-1])
            data['日期'].append('108/{0:02}/{1:02}'.format(i, now))
            now += 1
        else:
            now = date+1        
    
    
        
    
    while(now<=max_data[i-1]):
        for key in ['成交股數','成交金額','開盤價','最高價','最低價','收盤價','漲跌價差','成交筆數']:
            data[key].append(data[key][-1])
        data['日期'].append('108/{0:02}/{1:02}'.format(i, now))
        now += 1
    """
for key in data:
    data[key] = data[key][:-4]
data_df = pd.DataFrame(data)
data_df.reindex()
data_df.to_csv('stock_data.csv', index=False)

6
7
8
9
10

In [124]:
len(data['日期'])

89

Read data from CSV into Pandas Data Frame.

In [2]:
data_df = pd.read_csv('stock_data.csv')

Print out the basic statistics of the dataset using dataFrame's describe() functin.

In [3]:
data_df.shape

(89, 9)

In [4]:
data_df.describe()

,成交筆數,成交股數,成交金額,收盤價,最低價,最高價,漲跌價差,開盤價
count,89.000000,8.900000e+01,8.900000e+01,89.000000,89.000000,89.000000,89.000000,89.00000
mean,12252.561798,3.269030e+07,8.304750e+09,254.247191,252.269663,255.735955,0.629213,254.08427
std,4615.404752,1.220675e+07,3.161662e+09,12.229604,12.399151,12.116642,3.496368,12.32289
min,5647.000000,1.422021e+07,3.748071e+09,232.000000,229.500000,232.000000,-6.500000,231.50000
25%,8987.000000,2.451104e+07,6.242936e+09,246.000000,242.500000,247.000000,-1.500000,244.50000
50%,11372.000000,3.010753e+07,7.734089e+09,254.000000,251.000000,254.500000,0.500000,253.00000
75%,13780.000000,3.633670e+07,9.697727e+09,263.500000,261.500000,264.500000,2.500000,263.50000
max,29551.000000,7.524889e+07,2.088684e+10,286.500000,282.500000,286.500000,9.500000,283.50000

Store your dataset into MySQL database.<br>
        Note: you can create your database beforehand.

In [5]:
# Work with to mySQL DB using sqlalchemy and pandas
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://seasa:seasa@localhost/data_science")
try:
    sql_engine.execute('DROP TABLE record;')
except:
    pass

In [6]:
data_df.to_sql('record', sql_engine, index=False)

In [7]:
df2 = pd.read_sql_query("select sum(成交金額) from record", sql_engine)
print(df2)
df2 = pd.read_sql_query("select   avg(成交金額) from record", sql_engine)
print(df2)
df2 = pd.read_sql_query("select sum(成交股數)  from record", sql_engine)
print(df2)
df2 = pd.read_sql_query("select   avg(成交金額) from record", sql_engine)
print(df2)

      sum(成交金額)
0  7.391228e+11
      avg(成交金額)
0  8.304750e+09
      sum(成交股數)
0  2.909436e+09
      avg(成交金額)
0  8.304750e+09

In [8]:
df2 = pd.read_sql_query("select sum(qq.成交股數),avg(qq.成交股數) from (SELECT REPLACE(成交股數, ',', '') as 成交股數 FROM record) as qq", sql_engine)
print(df2)

   sum(qq.成交股數)  avg(qq.成交股數)
0  2.909436e+09  3.269030e+07

In [26]:
MovingAverage = data_df[['成交股數', '收盤價']].rolling(window=5,center=False).mean()
MovingAverage.to_csv('norm_data.csv')

In [10]:
def find_diff_max(data_df, key):
    index, data_max = data_df[key].diff().abs().idxmax(), data_df[key].diff().abs().max()
    print(data_df.iloc[index])
    print(data_max)
    print()
        
find_diff_max(data_df, '最高價')
find_diff_max(data_df, '成交股數')

成交筆數          20528
成交股數       50234372
成交金額    12181979568
收盤價             244
日期        108/06/19
最低價           240.5
最高價             244
漲跌價差            8.5
開盤價           242.5
Name: 11, dtype: object
8.5

成交筆數         12294
成交股數      30572953
成交金額    8553297334
收盤價          279.5
日期       108/10/02
最低價            279
最高價            281
漲跌價差          -0.5
開盤價            280
Name: 83, dtype: object
44675937.0

In [11]:
def find_pert_max(data_df, key):
    index, data_max = data_df[key].pct_change().abs().idxmax(), data_df[key].pct_change().abs().max()
    print(data_df.iloc[index])
    print(data_max)
    print()
    
find_pert_max(data_df, '最高價')
find_pert_max(data_df, '成交股數')

成交筆數          20528
成交股數       50234372
成交金額    12181979568
收盤價             244
日期        108/06/19
最低價           240.5
最高價             244
漲跌價差            8.5
開盤價           242.5
Name: 11, dtype: object
0.03609341825902335

成交筆數          21827
成交股數       59879798
成交金額    15573278932
收盤價             259
日期        108/07/19
最低價             259
最高價             261
漲跌價差              5
開盤價           259.5
Name: 33, dtype: object
1.8638870893879664

In [16]:
check = pd.concat([data_df['成交股數'],(data_df['收盤價']-data_df['開盤價']).abs(),(data_df['最高價']-data_df['最低價']).abs()],axis=1)
check.head()

       成交股數    0    1
0  36687092  2.5  6.5
1  24443428  4.5  5.0
2  35901584  3.0  4.0
3  34651731  0.5  2.5
4  35521888  2.5  5.5

In [17]:
norm = (check-check.mean()) / check.std()
norm.head()

       成交股數         0         1
0  0.327425  0.389776  2.073366
1 -0.675599  1.674592  1.048202
2  0.263075  0.710980  0.364759
3  0.160684 -0.895041 -0.660405
4  0.231969  0.389776  1.389923

In [22]:
arr = []
for i in range(norm.shape[0]):
    arr.append([0,i])
    temp = norm.iloc[i]
    for n in temp:
        arr[-1][0] += n**2
arr = sorted(arr, key=lambda x:x[0], reverse=True)
for _ in arr[:5]:
    print(data_df.iloc[_[1]]['日期'])

108/08/06
108/10/01
108/08/05
108/07/01
108/06/11

In [44]:
close_value = data_df['收盤價'].tolist()
arr = []
for i in range(len(close_value)):
    for j in range(i+1, len(close_value)):
        arr.append((i, j, close_value[j]-close_value[i]))
arr = sorted(arr, key=lambda x:x[2], reverse=True)
for _ in arr[:5]:
    print(data_df.iloc[_[0]]['日期'], data_df.iloc[_[1]]['日期'], _[2])

108/06/06 108/10/08 54.5
108/06/04 108/10/08 53.5
108/06/17 108/10/08 53.5
108/06/26 108/10/08 52.0
108/06/05 108/10/08 51.5